<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hockey"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<!--Bluetoothによる通信を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH">
	 </uses-permission>
	<!--Bluetoothの設定変更を許可する-->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN">
	 </uses-permission>
	    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hockey.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name=".ConnectMenuActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/app_name" android:name=".ConnectClientActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/app_name" android:name=".ClientActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/app_name" android:name=".ServerActivity" android:screenOrientation="portrait"></activity>
	</application>
</manifest>
